/*** *****************
Plugin Style
**********************/
.lg-outer .lg-toogle-thumb:after{
    display: none;
}
.lg-sub-html h4 {
    color: complement($color: tomato);
}
.lg-actions .lg-next, .lg-actions .lg-prev{
    background-color: transparent;
}
.lg-actions .lg-next,
.lg-actions .lg-prev{
    font-size: 40px;
    &:hover{
    color: tomato;
}
} 
.lg-toolbar .lg-download,
.lg-autoplay-button,
.lg-fullscreen,
#lg-zoom-in,
#lg-zoom-out,
#lg-actual-size,
.lg-outer #lg-share,
#lg-counter{
    display: none;
}
.lg-toolbar .lg-close{
    padding-right: 50%;
    font-size: 3rem;
    padding-top: 2rem;
}
.lg-sub-html h4{
    font-size: 33px;
    color: complement(tomato);
}
.lg-sub-html p{
    font-size: 1.3rem;
}
@media only screen and (min-width: 600px){

.lg-actions .lg-next,
.lg-actions .lg-prev{
 font-size: 80px;
}
.lg-sub-html p{
    font-size: 23px;
    font-size: 1.5rem;
    color: white;
}

.lg-actions .lg-prev{
    left: 40px;
}

.lg-actions .lg-next{
    right: 40px;
}

.lg-toolbar .lg-close{
    font-size: 4rem;
    padding-top: 1rem;
}
.lg-outer .lg-toogle-thumb:after{
    display: block;
}
.lg-outer .lg-image {
    max-height: 75%;
    max-width: 80%;
}
}